@import "tailwindcss";
/* Hide vertical scrollbar but allow scrolling */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}